In [ ]:
pip install pandas pyarrow

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (17.0.0)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

# Read Parquet file
df = pd.read_parquet('output.parquet', engine='pyarrow')

# Display the first few rows
print(df.head())

  pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0      R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1      R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2      R140812000427         LIPU MURI      M         TAGAM MURI
3      R140812000426        TECHI TAGG      M        TECHI RENSO
4      R140812000425       SANGHA TADE      M        SANGHA TARE

        MotherName                            Name Course Duration  \
0  MINATI HANDIQUE                     Electrician          2 Year
1       MINU BEGUM                         Wireman          2 Year
2        YATE MURI  Secretarial Practice (English)          1 Year
3      TECHI YOKUM                     Electrician          2 Year
4    SANGHA YANANG                       Carpenter          1 Year

           StateName         DistrictName Category Qualification  \
0  ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1  ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2  ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
3  ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
4  ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th

  Education Stream                                        Name.1 ITICategory
0      Engineering    Govt. Industrial Training Institute, Roing           G
1      Engineering    Govt. Industrial Training Institute, Roing           G
2  Non-Engineering  Govt Industrial Training Institute, Tabarijo           G
3      Engineering  Govt Industrial Training Institute, Tabarijo           G
4      Engineering    Govt. Industrial Training Institute, Roing           G

In [ ]:
import pandas as pd

try:
    # Read the Parquet file
    df = pd.read_parquet('/content/output.parquet')

    # Convert to CSV and save
    df.to_csv('/content/output.csv', index=False)
    print("Parquet file successfully converted to CSV!")

except Exception as e:
    print(f"An error occurred: {e}")
    print("Please ensure the Parquet file is valid and accessible.")

Parquet file successfully converted to CSV!

In [ ]:
print(df['pkTraineeRegNumber'])

0           R140812000429
1           R140812000428
2           R140812000427
3           R140812000426
4           R140812000425
                ...
10754595    R160813000005
10754596    R160813000004
10754597    R160813000003
10754598    R160813000002
10754599    R160813000001
Name: pkTraineeRegNumber, Length: 10754600, dtype: object

In [ ]:
import pandas as pd
import re

# Assuming your DataFrame is named 'df'

# Function to extract and format the year
def extract_year(reg_number):
    match = re.search(r"R(\d{2})", reg_number)  # Find 'R' followed by 2 digits
    if match:
        return ("20" + match.group(1))  # Convert to 4-digit year
    return None  # Handle cases where the pattern isn't found

# Apply the function to create the 'Year' column
df['Year'] = df['pkTraineeRegNumber'].apply(extract_year)

# Print the DataFrame with the new 'Year' column
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10754595      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10754596      R160813000004          TENUSOWA      M          TALIMEREN
10754597      R160813000003          TIAMANEN      M        SHILUYANGER
10754598      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10754599      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                            Name Course Duration  \
0           MINATI HANDIQUE                     Electrician          2 Year
1                MINU BEGUM                         Wireman          2 Year
2                 YATE MURI  Secretarial Practice (English)          1 Year
3               TECHI YOKUM                     Electrician          2 Year
4             SANGHA YANANG                       Carpenter          1 Year
...                     ...                             ...             ...
10754595         IMTINUNGLA  Secretarial Practice (English)          1 Year
10754596            ASANGLA  Secretarial Practice (English)          1 Year
10754597             ARENLA  Secretarial Practice (English)          1 Year
10754598      ASANGLA JAMIR  Secretarial Practice (English)          1 Year
10754599  YASHILEMLA LEMTUR  Secretarial Practice (English)          1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10754595           NAGALAND           MOKOKCHUNG       ST          12th
10754596           NAGALAND           MOKOKCHUNG       ST            BA
10754597           NAGALAND           MOKOKCHUNG       ST          12th
10754598           NAGALAND           MOKOKCHUNG       ST          10th
10754599           NAGALAND           MOKOKCHUNG       ST            BA

         Education Stream                                            Name.1  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10754595  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754596  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754597  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754598  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754599  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory  Year
0                  G  2014
1                  G  2014
2                  G  2014
3                  G  2014
4                  G  2014
...              ...   ...
10754595           G  2016
10754596           G  2016
10754597           G  2016
10754598           G  2016
10754599           G  2016

[10754600 rows x 15 columns]

In [ ]:
print(df['Year'])

0           2014
1           2014
2           2014
3           2014
4           2014
            ...
10754595    2016
10754596    2016
10754597    2016
10754598    2016
10754599    2016
Name: Year, Length: 10754600, dtype: object

In [ ]:
# Assuming your DataFrame is named 'df' and has a 'Year' column

# Get unique years
unique_years = df['Year'].unique()

# Create a dictionary to store DataFrames for each year
year_dfs = {}

# Iterate through unique years and create DataFrames
for year in unique_years:
    year_dfs[year] = df[df['Year'] == year]

# Access individual DataFrames using the year as the key
# For example, to access the DataFrame for the year 2014:
df_2014 = year_dfs['2014']

In [ ]:
df_2016 = year_dfs['2016']
print(df_2016)

         pkTraineeRegNumber       TraineeFirstName Gender  \
4244          R160812000617              Boge Nada      M
4245          R160812000616            Techi Sania      M
4246          R160812000615  Chow Phoming Longphoi      M
4247          R160812000614            LICHA HELLY      M
4248          R160812000611          DOKASH NYOKIR      M
...                     ...                    ...    ...
10754595      R160813000005             TEMSUMEREN      M
10754596      R160813000004               TENUSOWA      M
10754597      R160813000003               TIAMANEN      M
10754598      R160813000002         MOALONG PONGEN      M
10754599      R160813000001        TEMSULILA JAMIR      F

              FatherGuardianName         MotherName  \
4244             Lt. Mikong Nada         Sonya Nada
4245                  Techi Tani         Techi Atup
4246      Ch Mongsutong Longphoi   Ng Maya Longphoi
4247                  LICHA TANA         LICHA YELI
4248               CHAKDO NYOKIR       YAYUM NYOKIR
...                          ...                ...
10754595           LANUTEMSHI AO         IMTINUNGLA
10754596               TALIMEREN            ASANGLA
10754597             SHILUYANGER             ARENLA
10754598        LIMAONGBA PONGEN      ASANGLA JAMIR
10754599       YAPANGCHIBA JAMIR  YASHILEMLA LEMTUR

                                    Name Course Duration          StateName  \
4244                         Electrician          2 Year  ARUNACHAL PRADESH
4245                         Electrician          2 Year  ARUNACHAL PRADESH
4246                         Electrician          2 Year  ARUNACHAL PRADESH
4247                 Draughtsman (Civil)          2 Year  ARUNACHAL PRADESH
4248                            Surveyor          1 Year  ARUNACHAL PRADESH
...                                  ...             ...                ...
10754595  Secretarial Practice (English)          1 Year           NAGALAND
10754596  Secretarial Practice (English)          1 Year           NAGALAND
10754597  Secretarial Practice (English)          1 Year           NAGALAND
10754598  Secretarial Practice (English)          1 Year           NAGALAND
10754599  Secretarial Practice (English)          1 Year           NAGALAND

         DistrictName Category Qualification Education Stream  \
4244       PAPUM PARE       ST          10th      Engineering
4245       PAPUM PARE       ST          12th      Engineering
4246       PAPUM PARE       ST          10th      Engineering
4247       PAPUM PARE       ST          10th      Engineering
4248       PAPUM PARE       ST          10th      Engineering
...               ...      ...           ...              ...
10754595   MOKOKCHUNG       ST          12th  Non-Engineering
10754596   MOKOKCHUNG       ST            BA  Non-Engineering
10754597   MOKOKCHUNG       ST          12th  Non-Engineering
10754598   MOKOKCHUNG       ST          10th  Non-Engineering
10754599   MOKOKCHUNG       ST            BA  Non-Engineering

                                                    Name.1 ITICategory  Year
4244            Govt. Industrial Training Institute, Yupia           G  2016
4245            Govt. Industrial Training Institute, Yupia           G  2016
4246            Govt. Industrial Training Institute, Yupia           G  2016
4247            Govt. Industrial Training Institute, Yupia           G  2016
4248            Govt. Industrial Training Institute, Yupia           G  2016
...                                                    ...         ...   ...
10754595  Govt.  Industrial Training Institute, Mokokchung           G  2016
10754596  Govt.  Industrial Training Institute, Mokokchung           G  2016
10754597  Govt.  Industrial Training Institute, Mokokchung           G  2016
10754598  Govt.  Industrial Training Institute, Mokokchung           G  2016
10754599  Govt.  Industrial Training Institute, Mokokchung           G  2016

[1166716 rows x 15 columns]

In [ ]:
import pandas as pd

df_2022 = year_dfs['2022']
# Assuming your DataFrame is named 'df' and has a column named 'District'
district_school_counts = df_2022.groupby('DistrictName')['Name.1'].nunique()

# Print the district-wise school counts
print(district_school_counts)

DistrictName
24 PARAGANAS NORTH     23
24 PARAGANAS SOUTH     20
ADILABAD                4
AGAR MALWA              3
AGRA                  116
                     ...
YAMUNANAGAR            11
YANAM                   1
YAVATMAL               21
YSR KADAPA             32
ZUNHEBOTO               1
Name: Name.1, Length: 689, dtype: int64

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df' and has a column named 'DistrictName'
filtered_df = df[df['DistrictName'] == "24 PARAGANAS NORTH"]

# Print the filtered DataFrame
print(filtered_df)

        pkTraineeRegNumber    TraineeFirstName Gender     FatherGuardianName  \
7042913      R140819008435        SUSHMITA SUR      F               AJIT SUR
7042914      R140819008434      TANUSREE BANIK      F            DILIP BANIK
7042915      R140819008433         PIYALI SAHA      F          PARITOSH SAHA
7042916      R140819008432          SUKLA SAHA      F            PRATAP SAHA
7042917      R140819008431       UTPALA MONDAL      F         JAYANTA MONDAL
...                    ...                 ...    ...                    ...
7280631      R160819000185      BAPPA MAJUMDER      M       SHYAMAL MAJUMDER
7280632      R160819000184       ANIT MAJUMDAR      M         ASHIM MAJUMDAR
7280633      R160819000183  BAPPA KANGSA BANIK      M  GURUPADA KANGSA BANIK
7280634      R160819000182    KUNTAL CHOWDHURY      M      KANCHAN CHOWDHURY
7280635      R160819000181        JISHU CHANDA      M           MITHU CHANDA

                 MotherName                            Name Course Duration  \
7042913          PUSHPA SUR  Secretarial Practice (English)          1 Year
7042914       MADHABI BANIK  Secretarial Practice (English)          1 Year
7042915          PUTUL SAHA  Secretarial Practice (English)          1 Year
7042916         SHIKHA SAHA  Secretarial Practice (English)          1 Year
7042917         MINA MONDAL  Secretarial Practice (English)          1 Year
...                     ...                             ...             ...
7280631     BIJALI MAJUMDER                     Electrician          2 Year
7280632    BANDANA MAJUMDAR                     Electrician          2 Year
7280633  PUTUL KANGSA BANIK                          Welder          1 Year
7280634   BHARATI CHOWDHURY                          Fitter          2 Year
7280635       DIPALI CHANDA                          Fitter          2 Year

           StateName        DistrictName Category Qualification  \
7042913  WEST BENGAL  24 PARAGANAS NORTH      GEN           nan
7042914  WEST BENGAL  24 PARAGANAS NORTH      GEN           nan
7042915  WEST BENGAL  24 PARAGANAS NORTH      GEN           nan
7042916  WEST BENGAL  24 PARAGANAS NORTH      GEN           nan
7042917  WEST BENGAL  24 PARAGANAS NORTH       SC           nan
...              ...                 ...      ...           ...
7280631  WEST BENGAL  24 PARAGANAS NORTH      GEN          10th
7280632  WEST BENGAL  24 PARAGANAS NORTH       SC          10th
7280633  WEST BENGAL  24 PARAGANAS NORTH      OBC          10th
7280634  WEST BENGAL  24 PARAGANAS NORTH      GEN          10th
7280635  WEST BENGAL  24 PARAGANAS NORTH      GEN          10th

        Education Stream                                           Name.1  \
7042913  Non-Engineering  Industrial Training Institute for Women Banipur
7042914  Non-Engineering  Industrial Training Institute for Women Banipur
7042915  Non-Engineering  Industrial Training Institute for Women Banipur
7042916  Non-Engineering  Industrial Training Institute for Women Banipur
7042917  Non-Engineering  Industrial Training Institute for Women Banipur
...                  ...                                              ...
7280631      Engineering                              Quivan Private ITI,
7280632      Engineering                              Quivan Private ITI,
7280633      Engineering                              Quivan Private ITI,
7280634      Engineering                              Quivan Private ITI,
7280635      Engineering                              Quivan Private ITI,

        ITICategory  Year
7042913           G  2014
7042914           G  2014
7042915           G  2014
7042916           G  2014
7042917           G  2014
...             ...   ...
7280631           P  2016
7280632           P  2016
7280633           P  2016
7280634           P  2016
7280635           P  2016

[18191 rows x 15 columns]

In [ ]:
import pandas as pd

df_2022 = year_dfs['2022']
# Assuming your DataFrame is named 'df' and has a column named 'District'
district_school_counts = df_2022.groupby('DistrictName')['Name.1'].nunique()

# Print the district-wise school counts
print(district_school_counts)

# Calculate total school count
total_schools = district_school_counts.sum()

# Print the total school count
print("\nTotal Schools:", total_schools)

DistrictName
24 PARAGANAS NORTH     23
24 PARAGANAS SOUTH     20
ADILABAD                4
AGAR MALWA              3
AGRA                  116
                     ...
YAMUNANAGAR            11
YANAM                   1
YAVATMAL               21
YSR KADAPA             32
ZUNHEBOTO               1
Name: Name.1, Length: 689, dtype: int64

Total Schools: 13145

In [ ]:
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10754595      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10754596      R160813000004          TENUSOWA      M          TALIMEREN
10754597      R160813000003          TIAMANEN      M        SHILUYANGER
10754598      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10754599      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                            Name Course Duration  \
0           MINATI HANDIQUE                     Electrician          2 Year
1                MINU BEGUM                         Wireman          2 Year
2                 YATE MURI  Secretarial Practice (English)          1 Year
3               TECHI YOKUM                     Electrician          2 Year
4             SANGHA YANANG                       Carpenter          1 Year
...                     ...                             ...             ...
10754595         IMTINUNGLA  Secretarial Practice (English)          1 Year
10754596            ASANGLA  Secretarial Practice (English)          1 Year
10754597             ARENLA  Secretarial Practice (English)          1 Year
10754598      ASANGLA JAMIR  Secretarial Practice (English)          1 Year
10754599  YASHILEMLA LEMTUR  Secretarial Practice (English)          1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10754595           NAGALAND           MOKOKCHUNG       ST          12th
10754596           NAGALAND           MOKOKCHUNG       ST            BA
10754597           NAGALAND           MOKOKCHUNG       ST          12th
10754598           NAGALAND           MOKOKCHUNG       ST          10th
10754599           NAGALAND           MOKOKCHUNG       ST            BA

         Education Stream                                            Name.1  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10754595  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754596  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754597  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754598  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754599  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory  Year
0                  G  2014
1                  G  2014
2                  G  2014
3                  G  2014
4                  G  2014
...              ...   ...
10754595           G  2016
10754596           G  2016
10754597           G  2016
10754598           G  2016
10754599           G  2016

[10754600 rows x 15 columns]

In [ ]:
# Rename the column 'old_column_name' to 'new_column_name'
df = df.rename(columns={'Name.1': 'ITIName'})

In [ ]:
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10754595      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10754596      R160813000004          TENUSOWA      M          TALIMEREN
10754597      R160813000003          TIAMANEN      M        SHILUYANGER
10754598      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10754599      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                      CourseName CourseDuration  \
0           MINATI HANDIQUE                     Electrician         2 Year
1                MINU BEGUM                         Wireman         2 Year
2                 YATE MURI  Secretarial Practice (English)         1 Year
3               TECHI YOKUM                     Electrician         2 Year
4             SANGHA YANANG                       Carpenter         1 Year
...                     ...                             ...            ...
10754595         IMTINUNGLA  Secretarial Practice (English)         1 Year
10754596            ASANGLA  Secretarial Practice (English)         1 Year
10754597             ARENLA  Secretarial Practice (English)         1 Year
10754598      ASANGLA JAMIR  Secretarial Practice (English)         1 Year
10754599  YASHILEMLA LEMTUR  Secretarial Practice (English)         1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10754595           NAGALAND           MOKOKCHUNG       ST          12th
10754596           NAGALAND           MOKOKCHUNG       ST            BA
10754597           NAGALAND           MOKOKCHUNG       ST          12th
10754598           NAGALAND           MOKOKCHUNG       ST          10th
10754599           NAGALAND           MOKOKCHUNG       ST            BA

          EducationStream                                           ITIName  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10754595  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754596  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754597  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754598  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754599  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory  Year
0                  G  2014
1                  G  2014
2                  G  2014
3                  G  2014
4                  G  2014
...              ...   ...
10754595           G  2016
10754596           G  2016
10754597           G  2016
10754598           G  2016
10754599           G  2016

[10754600 rows x 15 columns]

In [ ]:
df.to_csv('ITI_Data.csv', index=False)

In [ ]:
df1 = df[['pkTraineeRegNumber', 'DistrictName', 'ITIName', 'CourseName', 'Year']]
print(df1)

         pkTraineeRegNumber         DistrictName  \
0             R140812000429  LOWER DIBANG VALLEY
1             R140812000428  LOWER DIBANG VALLEY
2             R140812000427      UPPER SUBANSIRI
3             R140812000426      UPPER SUBANSIRI
4             R140812000425  LOWER DIBANG VALLEY
...                     ...                  ...
10754595      R160813000005           MOKOKCHUNG
10754596      R160813000004           MOKOKCHUNG
10754597      R160813000003           MOKOKCHUNG
10754598      R160813000002           MOKOKCHUNG
10754599      R160813000001           MOKOKCHUNG

                                                   ITIName  \
0               Govt. Industrial Training Institute, Roing
1               Govt. Industrial Training Institute, Roing
2             Govt Industrial Training Institute, Tabarijo
3             Govt Industrial Training Institute, Tabarijo
4               Govt. Industrial Training Institute, Roing
...                                                    ...
10754595  Govt.  Industrial Training Institute, Mokokchung
10754596  Govt.  Industrial Training Institute, Mokokchung
10754597  Govt.  Industrial Training Institute, Mokokchung
10754598  Govt.  Industrial Training Institute, Mokokchung
10754599  Govt.  Industrial Training Institute, Mokokchung

                              CourseName  Year
0                            Electrician  2014
1                                Wireman  2014
2         Secretarial Practice (English)  2014
3                            Electrician  2014
4                              Carpenter  2014
...                                  ...   ...
10754595  Secretarial Practice (English)  2016
10754596  Secretarial Practice (English)  2016
10754597  Secretarial Practice (English)  2016
10754598  Secretarial Practice (English)  2016
10754599  Secretarial Practice (English)  2016

[10754600 rows x 5 columns]

In [ ]:
df1.to_csv('ITI_Data_Compressed.csv', index=False)

In [ ]:
df1.to_parquet('ITI_Data_Compressed.parquet', index=False)

In [ ]:
unique_count = df['pkTraineeRegNumber'].nunique()
print(f"Number of unique pkTraineeRegNumber values: {unique_count}")

Number of unique pkTraineeRegNumber values: 10743994

In [ ]:
duplicates = df[df.duplicated(subset=['pkTraineeRegNumber'], keep=False)]
print(duplicates['pkTraineeRegNumber'])

5849        R140801001313
5850        R140801001313
6849        R140801000268
6850        R140801000268
7118        R220801002048
                ...
10751229    R160820019028
10751230    R160820023074
10752229    R160820022066
10752230    R160820024074
10753229    R160820023074
Name: pkTraineeRegNumber, Length: 21212, dtype: object

In [ ]:
df_new = df.drop_duplicates(subset=['pkTraineeRegNumber'], keep='first')
print(df_new)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10754595      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10754596      R160813000004          TENUSOWA      M          TALIMEREN
10754597      R160813000003          TIAMANEN      M        SHILUYANGER
10754598      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10754599      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                      CourseName CourseDuration  \
0           MINATI HANDIQUE                     Electrician         2 Year
1                MINU BEGUM                         Wireman         2 Year
2                 YATE MURI  Secretarial Practice (English)         1 Year
3               TECHI YOKUM                     Electrician         2 Year
4             SANGHA YANANG                       Carpenter         1 Year
...                     ...                             ...            ...
10754595         IMTINUNGLA  Secretarial Practice (English)         1 Year
10754596            ASANGLA  Secretarial Practice (English)         1 Year
10754597             ARENLA  Secretarial Practice (English)         1 Year
10754598      ASANGLA JAMIR  Secretarial Practice (English)         1 Year
10754599  YASHILEMLA LEMTUR  Secretarial Practice (English)         1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           nan
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10754595           NAGALAND           MOKOKCHUNG       ST          12th
10754596           NAGALAND           MOKOKCHUNG       ST            BA
10754597           NAGALAND           MOKOKCHUNG       ST          12th
10754598           NAGALAND           MOKOKCHUNG       ST          10th
10754599           NAGALAND           MOKOKCHUNG       ST            BA

          EducationStream                                           ITIName  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10754595  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754596  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754597  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754598  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10754599  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory  Year
0                  G  2014
1                  G  2014
2                  G  2014
3                  G  2014
4                  G  2014
...              ...   ...
10754595           G  2016
10754596           G  2016
10754597           G  2016
10754598           G  2016
10754599           G  2016

[10743994 rows x 15 columns]

In [ ]:
df_new.to_csv('ITI_Data.csv', index=False)

In [ ]:
df1_new = df_new[['pkTraineeRegNumber', 'DistrictName', 'ITIName', 'CourseName', 'Year']]
print(df1_new)

         pkTraineeRegNumber         DistrictName  \
0             R140812000429  LOWER DIBANG VALLEY
1             R140812000428  LOWER DIBANG VALLEY
2             R140812000427      UPPER SUBANSIRI
3             R140812000426      UPPER SUBANSIRI
4             R140812000425  LOWER DIBANG VALLEY
...                     ...                  ...
10754595      R160813000005           MOKOKCHUNG
10754596      R160813000004           MOKOKCHUNG
10754597      R160813000003           MOKOKCHUNG
10754598      R160813000002           MOKOKCHUNG
10754599      R160813000001           MOKOKCHUNG

                                                   ITIName  \
0               Govt. Industrial Training Institute, Roing
1               Govt. Industrial Training Institute, Roing
2             Govt Industrial Training Institute, Tabarijo
3             Govt Industrial Training Institute, Tabarijo
4               Govt. Industrial Training Institute, Roing
...                                                    ...
10754595  Govt.  Industrial Training Institute, Mokokchung
10754596  Govt.  Industrial Training Institute, Mokokchung
10754597  Govt.  Industrial Training Institute, Mokokchung
10754598  Govt.  Industrial Training Institute, Mokokchung
10754599  Govt.  Industrial Training Institute, Mokokchung

                              CourseName  Year
0                            Electrician  2014
1                                Wireman  2014
2         Secretarial Practice (English)  2014
3                            Electrician  2014
4                              Carpenter  2014
...                                  ...   ...
10754595  Secretarial Practice (English)  2016
10754596  Secretarial Practice (English)  2016
10754597  Secretarial Practice (English)  2016
10754598  Secretarial Practice (English)  2016
10754599  Secretarial Practice (English)  2016

[10743994 rows x 5 columns]

In [ ]:
df1_new.to_csv('ITI_Data_compressed.csv', index=False)

In [ ]:
import pandas as pd
df = pd.read_csv('ITI_Data.csv')
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10743989      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10743990      R160813000004          TENUSOWA      M          TALIMEREN
10743991      R160813000003          TIAMANEN      M        SHILUYANGER
10743992      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10743993      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                      CourseName CourseDuration  \
0           MINATI HANDIQUE                     Electrician         2 Year
1                MINU BEGUM                         Wireman         2 Year
2                 YATE MURI  Secretarial Practice (English)         1 Year
3               TECHI YOKUM                     Electrician         2 Year
4             SANGHA YANANG                       Carpenter         1 Year
...                     ...                             ...            ...
10743989         IMTINUNGLA  Secretarial Practice (English)         1 Year
10743990            ASANGLA  Secretarial Practice (English)         1 Year
10743991             ARENLA  Secretarial Practice (English)         1 Year
10743992      ASANGLA JAMIR  Secretarial Practice (English)         1 Year
10743993  YASHILEMLA LEMTUR  Secretarial Practice (English)         1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10743989           NAGALAND           MOKOKCHUNG       ST          12th
10743990           NAGALAND           MOKOKCHUNG       ST            BA
10743991           NAGALAND           MOKOKCHUNG       ST          12th
10743992           NAGALAND           MOKOKCHUNG       ST          10th
10743993           NAGALAND           MOKOKCHUNG       ST            BA

          EducationStream                                           ITIName  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10743989  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743990  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743991  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743992  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743993  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory    Year
0                  G  2014.0
1                  G  2014.0
2                  G  2014.0
3                  G  2014.0
4                  G  2014.0
...              ...     ...
10743989           G  2016.0
10743990           G  2016.0
10743991           G  2016.0
10743992           G  2016.0
10743993           G  2016.0

[10743994 rows x 15 columns]

In [ ]:
df1_new = df[['pkTraineeRegNumber','StateName', 'DistrictName', 'ITIName', 'CourseName', 'Year']]
print(df1_new)

         pkTraineeRegNumber          StateName         DistrictName  \
0             R140812000429  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
1             R140812000428  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
2             R140812000427  ARUNACHAL PRADESH      UPPER SUBANSIRI
3             R140812000426  ARUNACHAL PRADESH      UPPER SUBANSIRI
4             R140812000425  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
...                     ...                ...                  ...
10743989      R160813000005           NAGALAND           MOKOKCHUNG
10743990      R160813000004           NAGALAND           MOKOKCHUNG
10743991      R160813000003           NAGALAND           MOKOKCHUNG
10743992      R160813000002           NAGALAND           MOKOKCHUNG
10743993      R160813000001           NAGALAND           MOKOKCHUNG

                                                   ITIName  \
0               Govt. Industrial Training Institute, Roing
1               Govt. Industrial Training Institute, Roing
2             Govt Industrial Training Institute, Tabarijo
3             Govt Industrial Training Institute, Tabarijo
4               Govt. Industrial Training Institute, Roing
...                                                    ...
10743989  Govt.  Industrial Training Institute, Mokokchung
10743990  Govt.  Industrial Training Institute, Mokokchung
10743991  Govt.  Industrial Training Institute, Mokokchung
10743992  Govt.  Industrial Training Institute, Mokokchung
10743993  Govt.  Industrial Training Institute, Mokokchung

                              CourseName  Year
0                            Electrician  2014
1                                Wireman  2014
2         Secretarial Practice (English)  2014
3                            Electrician  2014
4                              Carpenter  2014
...                                  ...   ...
10743989  Secretarial Practice (English)  2016
10743990  Secretarial Practice (English)  2016
10743991  Secretarial Practice (English)  2016
10743992  Secretarial Practice (English)  2016
10743993  Secretarial Practice (English)  2016

[10743994 rows x 6 columns]

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Convert the 'Year' column to integer
df['Year'] = df['Year'].astype(int)

# Print the DataFrame to verify the changes
print(df)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Extract the year as two digits
df['Year_2digit'] = df['pkTraineeRegNumber'].str[1:3]

# Print the updated DataFrame
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10743989      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10743990      R160813000004          TENUSOWA      M          TALIMEREN
10743991      R160813000003          TIAMANEN      M        SHILUYANGER
10743992      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10743993      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                      CourseName CourseDuration  \
0           MINATI HANDIQUE                     Electrician         2 Year
1                MINU BEGUM                         Wireman         2 Year
2                 YATE MURI  Secretarial Practice (English)         1 Year
3               TECHI YOKUM                     Electrician         2 Year
4             SANGHA YANANG                       Carpenter         1 Year
...                     ...                             ...            ...
10743989         IMTINUNGLA  Secretarial Practice (English)         1 Year
10743990            ASANGLA  Secretarial Practice (English)         1 Year
10743991             ARENLA  Secretarial Practice (English)         1 Year
10743992      ASANGLA JAMIR  Secretarial Practice (English)         1 Year
10743993  YASHILEMLA LEMTUR  Secretarial Practice (English)         1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10743989           NAGALAND           MOKOKCHUNG       ST          12th
10743990           NAGALAND           MOKOKCHUNG       ST            BA
10743991           NAGALAND           MOKOKCHUNG       ST          12th
10743992           NAGALAND           MOKOKCHUNG       ST          10th
10743993           NAGALAND           MOKOKCHUNG       ST            BA

          EducationStream                                           ITIName  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10743989  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743990  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743991  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743992  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743993  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory    Year Year_2digit
0                  G  2014.0          14
1                  G  2014.0          14
2                  G  2014.0          14
3                  G  2014.0          14
4                  G  2014.0          14
...              ...     ...         ...
10743989           G  2016.0          16
10743990           G  2016.0          16
10743991           G  2016.0          16
10743992           G  2016.0          16
10743993           G  2016.0          16

[10743994 rows x 16 columns]

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df' and has a 'Year_2digit' column

# Convert two-digit years to four-digit years
df['Year_4digit'] = df['Year_2digit'].astype(int).apply(lambda x: 2000 + x if 0 <= x <= 23 else 1900 + x if 24 <= x <= 99 else x)

# Print the updated DataFrame
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10743989      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10743990      R160813000004          TENUSOWA      M          TALIMEREN
10743991      R160813000003          TIAMANEN      M        SHILUYANGER
10743992      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10743993      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                      CourseName CourseDuration  \
0           MINATI HANDIQUE                     Electrician         2 Year
1                MINU BEGUM                         Wireman         2 Year
2                 YATE MURI  Secretarial Practice (English)         1 Year
3               TECHI YOKUM                     Electrician         2 Year
4             SANGHA YANANG                       Carpenter         1 Year
...                     ...                             ...            ...
10743989         IMTINUNGLA  Secretarial Practice (English)         1 Year
10743990            ASANGLA  Secretarial Practice (English)         1 Year
10743991             ARENLA  Secretarial Practice (English)         1 Year
10743992      ASANGLA JAMIR  Secretarial Practice (English)         1 Year
10743993  YASHILEMLA LEMTUR  Secretarial Practice (English)         1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10743989           NAGALAND           MOKOKCHUNG       ST          12th
10743990           NAGALAND           MOKOKCHUNG       ST            BA
10743991           NAGALAND           MOKOKCHUNG       ST          12th
10743992           NAGALAND           MOKOKCHUNG       ST          10th
10743993           NAGALAND           MOKOKCHUNG       ST            BA

          EducationStream                                           ITIName  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10743989  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743990  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743991  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743992  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743993  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory    Year Year_2digit  Year_4digit
0                  G  2014.0          14         2014
1                  G  2014.0          14         2014
2                  G  2014.0          14         2014
3                  G  2014.0          14         2014
4                  G  2014.0          14         2014
...              ...     ...         ...          ...
10743989           G  2016.0          16         2016
10743990           G  2016.0          16         2016
10743991           G  2016.0          16         2016
10743992           G  2016.0          16         2016
10743993           G  2016.0          16         2016

[10743994 rows x 17 columns]

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Delete 'Year' and 'Year_2digit' columns
df = df.drop(columns=['Year', 'Year_2digit'])

# Rename 'Year_4digit' to 'Year'
df = df.rename(columns={'Year_4digit': 'Year'})

# Print the updated DataFrame
print(df)

         pkTraineeRegNumber  TraineeFirstName Gender FatherGuardianName  \
0             R140812000429     PAPU HANDIQUE      M   HORUMON HANDIQUE
1             R140812000428  MD SUFIYAN AHMED      M    MD NOUSAD AHMED
2             R140812000427         LIPU MURI      M         TAGAM MURI
3             R140812000426        TECHI TAGG      M        TECHI RENSO
4             R140812000425       SANGHA TADE      M        SANGHA TARE
...                     ...               ...    ...                ...
10743989      R160813000005        TEMSUMEREN      M      LANUTEMSHI AO
10743990      R160813000004          TENUSOWA      M          TALIMEREN
10743991      R160813000003          TIAMANEN      M        SHILUYANGER
10743992      R160813000002    MOALONG PONGEN      M   LIMAONGBA PONGEN
10743993      R160813000001   TEMSULILA JAMIR      F  YAPANGCHIBA JAMIR

                 MotherName                      CourseName CourseDuration  \
0           MINATI HANDIQUE                     Electrician         2 Year
1                MINU BEGUM                         Wireman         2 Year
2                 YATE MURI  Secretarial Practice (English)         1 Year
3               TECHI YOKUM                     Electrician         2 Year
4             SANGHA YANANG                       Carpenter         1 Year
...                     ...                             ...            ...
10743989         IMTINUNGLA  Secretarial Practice (English)         1 Year
10743990            ASANGLA  Secretarial Practice (English)         1 Year
10743991             ARENLA  Secretarial Practice (English)         1 Year
10743992      ASANGLA JAMIR  Secretarial Practice (English)         1 Year
10743993  YASHILEMLA LEMTUR  Secretarial Practice (English)         1 Year

                  StateName         DistrictName Category Qualification  \
0         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      OBC          10th
1         ARUNACHAL PRADESH  LOWER DIBANG VALLEY      GEN           8th
2         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
3         ARUNACHAL PRADESH      UPPER SUBANSIRI       ST           NaN
4         ARUNACHAL PRADESH  LOWER DIBANG VALLEY       ST           8th
...                     ...                  ...      ...           ...
10743989           NAGALAND           MOKOKCHUNG       ST          12th
10743990           NAGALAND           MOKOKCHUNG       ST            BA
10743991           NAGALAND           MOKOKCHUNG       ST          12th
10743992           NAGALAND           MOKOKCHUNG       ST          10th
10743993           NAGALAND           MOKOKCHUNG       ST            BA

          EducationStream                                           ITIName  \
0             Engineering        Govt. Industrial Training Institute, Roing
1             Engineering        Govt. Industrial Training Institute, Roing
2         Non-Engineering      Govt Industrial Training Institute, Tabarijo
3             Engineering      Govt Industrial Training Institute, Tabarijo
4             Engineering        Govt. Industrial Training Institute, Roing
...                   ...                                               ...
10743989  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743990  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743991  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743992  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung
10743993  Non-Engineering  Govt.  Industrial Training Institute, Mokokchung

         ITICategory  Year
0                  G  2014
1                  G  2014
2                  G  2014
3                  G  2014
4                  G  2014
...              ...   ...
10743989           G  2016
10743990           G  2016
10743991           G  2016
10743992           G  2016
10743993           G  2016

[10743994 rows x 15 columns]

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Check for NA values
na_values = df[df['Year'].isna()]

# Check for infinite values
inf_values = df[df['Year'].isin([float('inf'), float('-inf')])]

# Print the results
print("NA Values:\n", na_values)
print("\nInfinite Values:\n", inf_values)

NA Values:
 Empty DataFrame
Columns: [pkTraineeRegNumber, TraineeFirstName, Gender, FatherGuardianName, MotherName, CourseName, CourseDuration, StateName, DistrictName, Category, Qualification, EducationStream, ITIName, ITICategory, Year]
Index: []

Infinite Values:
 Empty DataFrame
Columns: [pkTraineeRegNumber, TraineeFirstName, Gender, FatherGuardianName, MotherName, CourseName, CourseDuration, StateName, DistrictName, Category, Qualification, EducationStream, ITIName, ITICategory, Year]
Index: []

In [ ]:
df1 = df[['pkTraineeRegNumber','StateName', 'DistrictName', 'ITIName', 'CourseName', 'Year']]
print(df1_new)

         pkTraineeRegNumber          StateName         DistrictName  \
0             R140812000429  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
1             R140812000428  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
2             R140812000427  ARUNACHAL PRADESH      UPPER SUBANSIRI
3             R140812000426  ARUNACHAL PRADESH      UPPER SUBANSIRI
4             R140812000425  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
...                     ...                ...                  ...
10743989      R160813000005           NAGALAND           MOKOKCHUNG
10743990      R160813000004           NAGALAND           MOKOKCHUNG
10743991      R160813000003           NAGALAND           MOKOKCHUNG
10743992      R160813000002           NAGALAND           MOKOKCHUNG
10743993      R160813000001           NAGALAND           MOKOKCHUNG

                                                   ITIName  \
0               Govt. Industrial Training Institute, Roing
1               Govt. Industrial Training Institute, Roing
2             Govt Industrial Training Institute, Tabarijo
3             Govt Industrial Training Institute, Tabarijo
4               Govt. Industrial Training Institute, Roing
...                                                    ...
10743989  Govt.  Industrial Training Institute, Mokokchung
10743990  Govt.  Industrial Training Institute, Mokokchung
10743991  Govt.  Industrial Training Institute, Mokokchung
10743992  Govt.  Industrial Training Institute, Mokokchung
10743993  Govt.  Industrial Training Institute, Mokokchung

                              CourseName  Year
0                            Electrician  2014
1                                Wireman  2014
2         Secretarial Practice (English)  2014
3                            Electrician  2014
4                              Carpenter  2014
...                                  ...   ...
10743989  Secretarial Practice (English)  2016
10743990  Secretarial Practice (English)  2016
10743991  Secretarial Practice (English)  2016
10743992  Secretarial Practice (English)  2016
10743993  Secretarial Practice (English)  2016

[10743994 rows x 6 columns]

In [ ]:
df1.to_csv('ITI_Data_compressed_modified.csv', index=False)

In [ ]:
import pandas as pd

# Load the CSV file
data = pd.read_csv("ITI_Data_compressed_modified.csv")

# Aggregate district-wise data
district_data = data.groupby(["StateName", "DistrictName", "Year"]).agg({
    "ITIName": "nunique",  # Number of unique institutes
    "CourseName": "nunique",  # Number of unique courses
    "pkTraineeRegNumber": "nunique"  # Number of unique students
}).reset_index()

# Rename columns
district_data.rename(columns={
    "ITIName": "NumInstitutes",
    "CourseName": "NumCourses",
    "pkTraineeRegNumber": "NumStudents"
}, inplace=True)

# Aggregate course-wise data
course_data = data.groupby(["StateName", "CourseName", "Year"]).agg({
    "pkTraineeRegNumber": "nunique"  # Number of unique students
}).reset_index()

# Rename columns
course_data.rename(columns={"pkTraineeRegNumber": "NumStudents"}, inplace=True)

# Save the aggregated data to CSV files
district_data.to_csv("aggregated_district_data.csv", index=False)
course_data.to_csv("aggregated_course_data.csv", index=False)

In [8]:
import pandas as pd

# Load the CSV file
data = pd.read_csv("/content/ITI_Data_compressed_modified.csv")

# Aggregate district-wise data
district_data = data.groupby(["StateName", "DistrictName", "Year"]).agg({
    "ITIName": pd.Series.nunique,  # Count unique institutes
    "CourseName": pd.Series.nunique,  # Count unique courses
    "pkTraineeRegNumber": pd.Series.nunique  # Count unique students
}).reset_index()

# Rename columns for clarity
district_data.rename(columns={
    "ITIName": "NumInstitutes",
    "CourseName": "NumCourses",
    "pkTraineeRegNumber": "NumStudents"
}, inplace=True)

# Save the aggregated data
district_data.to_csv("corrected_district_data.csv", index=False)

print("Aggregation corrected and saved to 'corrected_district_data.csv'.")

Aggregation corrected and saved to 'corrected_district_data.csv'.

In [ ]:
print(district_data)

                        StateName              DistrictName  Year  \
0     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2019
1     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2020
2     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2021
3     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2022
4     ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  2014
...                           ...                       ...   ...
6002                  WEST BENGAL            UTTAR DINAJPUR  2018
6003                  WEST BENGAL            UTTAR DINAJPUR  2019
6004                  WEST BENGAL            UTTAR DINAJPUR  2020
6005                  WEST BENGAL            UTTAR DINAJPUR  2021
6006                  WEST BENGAL            UTTAR DINAJPUR  2022

      NumInstitutes  NumCourses  NumStudents
0                 1           4           83
1                 1           6          234
2                 1           6          167
3                 1           6           96
4                 1           2           36
...             ...         ...          ...
6002              6          14          584
6003              6          16          804
6004              6          15          760
6005              6          17          707
6006              6          15          721

[6007 rows x 6 columns]

In [12]:
df1 = pd.read_csv("corrected_district_data.csv")
print(df1)

                        StateName              DistrictName  Year  \
0     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2019
1     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2020
2     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2021
3     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2022
4     ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  2014
...                           ...                       ...   ...
6002                  WEST BENGAL            UTTAR DINAJPUR  2018
6003                  WEST BENGAL            UTTAR DINAJPUR  2019
6004                  WEST BENGAL            UTTAR DINAJPUR  2020
6005                  WEST BENGAL            UTTAR DINAJPUR  2021
6006                  WEST BENGAL            UTTAR DINAJPUR  2022

      NumInstitutes  NumCourses  NumStudents
0                 1           4           83
1                 1           6          234
2                 1           6          167
3                 1           6           96
4                 1           2           36
...             ...         ...          ...
6002              6          14          584
6003              6          16          804
6004              6          15          760
6005              6          17          707
6006              6          15          721

[6007 rows x 6 columns]

In [13]:
district_data = df.groupby(['StateName', 'DistrictName']).agg({
       'ITIName': pd.Series.nunique,  # Count unique ITIs
       'CourseName': pd.Series.nunique,  # Count unique courses
       'pkTraineeRegNumber': pd.Series.nunique  # Count unique students
   }).reset_index()

In [16]:
district_data.rename(columns={
       'ITIName': 'NumInstitutes',
       'CourseName': 'NumCourses',
       'pkTraineeRegNumber': 'NumStudents'
   }, inplace=True)

In [17]:
print(district_data)

                       StateName              DistrictName  NumITIs  \
0    ANDAMAN AND NICOBAR ISLANDS                  NICOBARS        1
1    ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN        1
2    ANDAMAN AND NICOBAR ISLANDS            SOUTH ANDAMANS        2
3                 ANDHRA PRADESH     ALLURI SITHARAMA RAJU        4
4                 ANDHRA PRADESH                ANAKAPALLI       31
..                           ...                       ...      ...
694                  WEST BENGAL                     NADIA       24
695                  WEST BENGAL         PASCHIM BARDHAMAN        1
696                  WEST BENGAL           PURBA BARDHAMAN        3
697                  WEST BENGAL                   PURULIA       14
698                  WEST BENGAL            UTTAR DINAJPUR        6

     NumCourses  NumStudents
0             6          580
1             6          423
2            24         2570
3            23         4897
4            18        27881
..          ...          ...
694          47        24998
695           4           96
696           4          223
697          33        11197
698          35         5335

[699 rows x 5 columns]

In [18]:
import pandas as pd

# ... (Your previous code to create district_data) ...

# Add 'Year' column with value 'ALL'
district_data['Year'] = 'ALL'

# Print or save the updated DataFrame
print(district_data)  # Print the updated data
# district_data.to_csv('district_wise_data_with_year.csv', index=False)  # Save to a CSV file (optional)

                       StateName              DistrictName  NumITIs  \
0    ANDAMAN AND NICOBAR ISLANDS                  NICOBARS        1
1    ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN        1
2    ANDAMAN AND NICOBAR ISLANDS            SOUTH ANDAMANS        2
3                 ANDHRA PRADESH     ALLURI SITHARAMA RAJU        4
4                 ANDHRA PRADESH                ANAKAPALLI       31
..                           ...                       ...      ...
694                  WEST BENGAL                     NADIA       24
695                  WEST BENGAL         PASCHIM BARDHAMAN        1
696                  WEST BENGAL           PURBA BARDHAMAN        3
697                  WEST BENGAL                   PURULIA       14
698                  WEST BENGAL            UTTAR DINAJPUR        6

     NumCourses  NumStudents Year
0             6          580  ALL
1             6          423  ALL
2            24         2570  ALL
3            23         4897  ALL
4            18        27881  ALL
..          ...          ...  ...
694          47        24998  ALL
695           4           96  ALL
696           4          223  ALL
697          33        11197  ALL
698          35         5335  ALL

[699 rows x 6 columns]

In [19]:
print(df1
    )

                        StateName              DistrictName  Year  \
0     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2019
1     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2020
2     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2021
3     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2022
4     ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  2014
...                           ...                       ...   ...
6002                  WEST BENGAL            UTTAR DINAJPUR  2018
6003                  WEST BENGAL            UTTAR DINAJPUR  2019
6004                  WEST BENGAL            UTTAR DINAJPUR  2020
6005                  WEST BENGAL            UTTAR DINAJPUR  2021
6006                  WEST BENGAL            UTTAR DINAJPUR  2022

      NumInstitutes  NumCourses  NumStudents
0                 1           4           83
1                 1           6          234
2                 1           6          167
3                 1           6           96
4                 1           2           36
...             ...         ...          ...
6002              6          14          584
6003              6          16          804
6004              6          15          760
6005              6          17          707
6006              6          15          721

[6007 rows x 6 columns]

In [42]:
print(combined_data1['Year'].unique())

[2021 2022 2020 2019 2018 2014 2015 2016 2017 'ALL']

In [21]:
import pandas as pd

# ... (Load df1) ...

# Change 'Year' column to string type
df1['Year'] = df1['Year'].astype(str)

# Print the DataFrame to verify the changes
print(df1.dtypes)

StateName        object
DistrictName     object
Year             object
NumInstitutes     int64
NumCourses        int64
NumStudents       int64
dtype: object

In [44]:
print(combined_data['Year'].unique())

['2019' '2020' '2021' '2022' '2014' '2015' '2016' '2017' '2018' 'ALL']

In [24]:
print(df1)

                        StateName              DistrictName  Year  \
0     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2019
1     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2020
2     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2021
3     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2022
4     ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  2014
...                           ...                       ...   ...
6002                  WEST BENGAL            UTTAR DINAJPUR  2018
6003                  WEST BENGAL            UTTAR DINAJPUR  2019
6004                  WEST BENGAL            UTTAR DINAJPUR  2020
6005                  WEST BENGAL            UTTAR DINAJPUR  2021
6006                  WEST BENGAL            UTTAR DINAJPUR  2022

      NumInstitutes  NumCourses  NumStudents
0                 1           4           83
1                 1           6          234
2                 1           6          167
3                 1           6           96
4                 1           2           36
...             ...         ...          ...
6002              6          14          584
6003              6          16          804
6004              6          15          760
6005              6          17          707
6006              6          15          721

[6007 rows x 6 columns]

In [26]:
import pandas as pd
#... (Load or create district_data)

# Rename the column
district_data = district_data.rename(columns={'NumITIs': 'NumInstitutes'})

# Print the DataFrame to verify the changes
print(district_data.columns)  # Print column names

Index(['StateName', 'DistrictName', 'NumInstitutes', 'NumCourses',
       'NumStudents', 'Year'],
      dtype='object')

In [27]:
print(district_data)

                       StateName              DistrictName  NumInstitutes  \
0    ANDAMAN AND NICOBAR ISLANDS                  NICOBARS              1
1    ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN              1
2    ANDAMAN AND NICOBAR ISLANDS            SOUTH ANDAMANS              2
3                 ANDHRA PRADESH     ALLURI SITHARAMA RAJU              4
4                 ANDHRA PRADESH                ANAKAPALLI             31
..                           ...                       ...            ...
694                  WEST BENGAL                     NADIA             24
695                  WEST BENGAL         PASCHIM BARDHAMAN              1
696                  WEST BENGAL           PURBA BARDHAMAN              3
697                  WEST BENGAL                   PURULIA             14
698                  WEST BENGAL            UTTAR DINAJPUR              6

     NumCourses  NumStudents Year
0             6          580  ALL
1             6          423  ALL
2            24         2570  ALL
3            23         4897  ALL
4            18        27881  ALL
..          ...          ...  ...
694          47        24998  ALL
695           4           96  ALL
696           4          223  ALL
697          33        11197  ALL
698          35         5335  ALL

[699 rows x 6 columns]

In [41]:
import pandas as pd

# ... (Load df1 and create district_data) ...

# Concatenate the DataFrames
combined_data = pd.concat([df1, district_data], ignore_index=True)

# Print or save the combined DataFrame
print(combined_data)  # Print the combined data
# combined_data.to_csv('combined_data.csv', index=False)  # Save to a CSV file (optional)

                        StateName              DistrictName  Year  \
0     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2019
1     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2020
2     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2021
3     ANDAMAN AND NICOBAR ISLANDS                  NICOBARS  2022
4     ANDAMAN AND NICOBAR ISLANDS  NORTH AND MIDDLE ANDAMAN  2014
...                           ...                       ...   ...
6701                  WEST BENGAL                     NADIA   ALL
6702                  WEST BENGAL         PASCHIM BARDHAMAN   ALL
6703                  WEST BENGAL           PURBA BARDHAMAN   ALL
6704                  WEST BENGAL                   PURULIA   ALL
6705                  WEST BENGAL            UTTAR DINAJPUR   ALL

      NumInstitutes  NumCourses  NumStudents
0                 1           4           83
1                 1           6          234
2                 1           6          167
3                 1           6           96
4                 1           2           36
...             ...         ...          ...
6701             24          47        24998
6702              1           4           96
6703              3           4          223
6704             14          33        11197
6705              6          35         5335

[6706 rows x 6 columns]

In [29]:
combined_data.to_csv('combined_data.csv', index=False)

In [30]:
# prompt: similarily using ITI_Data give me data frame having course name wise number of students filtered on StateName DistrictName Year

import pandas as pd

# Load the combined data
combine_data = pd.read_csv('/content/ITI_Data_compressed_modified.csv')

# Group by 'CourseName', 'StateName', 'DistrictName', and 'Year', then count unique students
course_wise_student_counts = combine_data.groupby(['CourseName', 'StateName', 'DistrictName', 'Year'])['pkTraineeRegNumber'].nunique().reset_index()

# Rename the 'pkTraineeRegNumber' column to 'NumStudents'
course_wise_student_counts = course_wise_student_counts.rename(columns={'pkTraineeRegNumber': 'NumStudents'})

# Print or save the result
print(course_wise_student_counts)
course_wise_student_counts.to_csv('course_wise_student_counts.csv', index=False)

                                     CourseName    StateName    DistrictName  \
0      ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA        BAGALKOT
1      ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA        BAGALKOT
2      ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA         BELGAUM
3      ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA         BELGAUM
4      ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA         BELLARY
...                                         ...          ...             ...
84605                            Wireman (NSQF)  WEST BENGAL         PURULIA
84606                            Wireman (NSQF)  WEST BENGAL         PURULIA
84607                            Wireman (NSQF)  WEST BENGAL  UTTAR DINAJPUR
84608                            Wireman (NSQF)  WEST BENGAL  UTTAR DINAJPUR
84609               Wood Work Technician (NSQF)      GUJARAT       AHMADABAD

       Year  NumStudents
0      2021           24
1      2022           48
2      2021           24
3      2022           90
4      2021           32
...     ...          ...
84605  2019           19
84606  2021           20
84607  2019           19
84608  2021           20
84609  2022            1

[84610 rows x 5 columns]

In [32]:
# prompt: Now i need a df such that it shows count of number of students per each course filtered on StateName and DistrictName

import pandas as pd

# Load the combined data
combined_data = pd.read_csv('/content/ITI_Data_compressed_modified.csv')

# Group by 'CourseName', 'StateName', and 'DistrictName' and count unique students
result_df = combined_data.groupby(['CourseName', 'StateName', 'DistrictName'])['pkTraineeRegNumber'].count().reset_index()

# Rename the 'pkTraineeRegNumber' column
result_df = result_df.rename(columns={'pkTraineeRegNumber': 'NumStudents'})

# Display the result
result_df

,CourseName,StateName,DistrictName,NumStudents
0,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BAGALKOT,72
1,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BELGAUM,114
2,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BELLARY,125
3,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BENGALURU RURAL,71
4,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BENGALURU URBAN,102
...,...,...,...,...
22409,Wireman (NSQF),WEST BENGAL,MURSHIDABAD,39
22410,Wireman (NSQF),WEST BENGAL,NADIA,202
22411,Wireman (NSQF),WEST BENGAL,PURULIA,39
22412,Wireman (NSQF),WEST BENGAL,UTTAR DINAJPUR,39
22413,Wood Work Technician (NSQF),GUJARAT,AHMADABAD,1

In [33]:
# prompt: add a column named Year to result_df and Year='ALL'

# Add a 'Year' column with the value 'ALL'
result_df['Year'] = 'ALL'

In [35]:
result_df

,CourseName,StateName,DistrictName,NumStudents,Year
0,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BAGALKOT,72,ALL
1,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BELGAUM,114,ALL
2,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BELLARY,125,ALL
3,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BENGALURU RURAL,71,ALL
4,ADVANCED CNC MACHINING TECHNICIAN (NSQF),KARNATAKA,BENGALURU URBAN,102,ALL
...,...,...,...,...,...
22409,Wireman (NSQF),WEST BENGAL,MURSHIDABAD,39,ALL
22410,Wireman (NSQF),WEST BENGAL,NADIA,202,ALL
22411,Wireman (NSQF),WEST BENGAL,PURULIA,39,ALL
22412,Wireman (NSQF),WEST BENGAL,UTTAR DINAJPUR,39,ALL
22413,Wood Work Technician (NSQF),GUJARAT,AHMADABAD,1,ALL

In [36]:
import pandas as pd

# ... (Load df1 and create district_data) ...

# Concatenate the DataFrames
combined_data1 = pd.concat([course_wise_student_counts,result_df], ignore_index=True)

# Print or save the combined DataFrame
print(combined_data1)  # Print the combined data
# combined_data.to_csv('combined_data.csv', index=False)  # Save to a CSV file (optional)

                                      CourseName    StateName    DistrictName  \
0       ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA        BAGALKOT
1       ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA        BAGALKOT
2       ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA         BELGAUM
3       ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA         BELGAUM
4       ADVANCED CNC MACHINING TECHNICIAN (NSQF)    KARNATAKA         BELLARY
...                                          ...          ...             ...
107019                            Wireman (NSQF)  WEST BENGAL     MURSHIDABAD
107020                            Wireman (NSQF)  WEST BENGAL           NADIA
107021                            Wireman (NSQF)  WEST BENGAL         PURULIA
107022                            Wireman (NSQF)  WEST BENGAL  UTTAR DINAJPUR
107023               Wood Work Technician (NSQF)      GUJARAT       AHMADABAD

        Year  NumStudents
0       2021           24
1       2022           48
2       2021           24
3       2022           90
4       2021           32
...      ...          ...
107019   ALL           39
107020   ALL          202
107021   ALL           39
107022   ALL           39
107023   ALL            1

[107024 rows x 5 columns]

In [46]:
# prompt: print how many types of Year column values of combined_data1

print(combined_data1['Year'].unique())

['2021' '2022' '2020' '2019' '2018' '2014' '2015' '2016' '2017' 'ALL']

         pkTraineeRegNumber          StateName         DistrictName  \
0             R140812000429  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
1             R140812000428  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
2             R140812000427  ARUNACHAL PRADESH      UPPER SUBANSIRI
3             R140812000426  ARUNACHAL PRADESH      UPPER SUBANSIRI
4             R140812000425  ARUNACHAL PRADESH  LOWER DIBANG VALLEY
...                     ...                ...                  ...
10743989      R160813000005           NAGALAND           MOKOKCHUNG
10743990      R160813000004           NAGALAND           MOKOKCHUNG
10743991      R160813000003           NAGALAND           MOKOKCHUNG
10743992      R160813000002           NAGALAND           MOKOKCHUNG
10743993      R160813000001           NAGALAND           MOKOKCHUNG

                                                   ITIName  \
0               Govt. Industrial Training Institute, Roing
1               Govt. Industrial Training Institute, Roing
2             Govt Industrial Training Institute, Tabarijo
3             Govt Industrial Training Institute, Tabarijo
4               Govt. Industrial Training Institute, Roing
...                                                    ...
10743989  Govt.  Industrial Training Institute, Mokokchung
10743990  Govt.  Industrial Training Institute, Mokokchung
10743991  Govt.  Industrial Training Institute, Mokokchung
10743992  Govt.  Industrial Training Institute, Mokokchung
10743993  Govt.  Industrial Training Institute, Mokokchung

                              CourseName  Year
0                            Electrician  2014
1                                Wireman  2014
2         Secretarial Practice (English)  2014
3                            Electrician  2014
4                              Carpenter  2014
...                                  ...   ...
10743989  Secretarial Practice (English)  2016
10743990  Secretarial Practice (English)  2016
10743991  Secretarial Practice (English)  2016
10743992  Secretarial Practice (English)  2016
10743993  Secretarial Practice (English)  2016

[10743994 rows x 6 columns]

In [45]:
# Change 'Year' column to string type
combined_data1['Year'] = combined_data1['Year'].astype(str)

# Print the DataFrame to verify the changes
print(combined_data1.dtypes)

CourseName      object
StateName       object
DistrictName    object
Year            object
NumStudents      int64
dtype: object

In [47]:
combined_data1.to_csv('combined_data1.csv', index=False)